#################################################################################
# Configuration file for GExternalEvaluator                                     #
#                                                                               #
# Authors: Ruediger Berlich                                                     #
#################################################################################

# The amount of random number producer threads
nProducerThreads = 8
# The amount of threads processing individuals simultaneously
nEvaluationThreads = 16
# The size of the super-population
populationSize = 100
# The number of parents in the population
nParents = 2
# Maximum number of generations in the population
maxGenerations = 1000
# The maximum number of minutes the optimization of the population should run (0 means "no limit")
maxMinutes = 0
# The number of generations after which information should be emitted by the population
reportGeneration = 1
# The recombination scheme for the super-population (DEFAULTRECOMBINE=0, RANDOMRECOMBINE=1, VALUERECOMBINE=2)
rScheme = 2
# Determines whether sorting happens in MUPLUSNU (0), MUCOMMANU (1) or MUNU1PRETAIN (2) mode
sortingScheme = 1
# The size of the buffer with random arrays in the random factory
arraySize = 1000
# Determines whether information about configuration options should be emitted
verbose = 1
# The maximum number of cycles a client should perform mutations before it returns without success
processingCycles = 1
# Specifies whether results should be returned even if they are not better than before
returnRegardless = 1
# Influences the maximum waiting time of the GBrokerEA after the arrival of the first evaluated individual
waitFactor = 2
# The name of a file holding the evaluation executable
program = "./evaluator/evaluator"
# Arguments to be handed to programs called through the "system()" call
externalArguments ="empty"
# Number of calls to mutate after which mutation parameters should be adapted in EA mode
adaptionThreshold = 1
# The width of the gaussian used for the adaption of double values
sigma = 1
# The adaption rate of sigma
sigmaSigma = 0.8
# The minimum allowed value for sigma
minSigma = 0
# The maximum allowed value for sigma
maxSigma = 2
# The amount of evaluations each external program shall perform
nEvaluations = 5
# Determines whether data exchange should be done in binary mode (0) or in text mode(1) [CROSS CHECK THAT 0 == BINARY MODE ...]
exchangeMode = 0
# Specifies whether the program should search for minima (0) or maxima (1) of the evaluation function
maximize = 0
# Whether production of random numbers in individuals should happen locally (0) or in the random number factory (1) [CROSS CHECK THAT 1 == FACTORY ...]
productionPlace = 1
# Specifies whether a common adaptor should be used for all GParameterT objects
useCommonAdaptor = 0
# Specifies whether the external evaluator should be instructed to fill template data with random values
randomFill = 0
